html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
table {
    background-color: #3c3659;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
    width: 99%;
    position:sticky;
    display:flow;
}
td {
    height: 200px;
    padding: 0.7vw;
    width: 25vw;
    max-height: 300px;
    max-width: 20%;
    height: 16vw;
    
}
tr {
    border-radius: 50px;
    margin: 5px;
    
}
h3 {
    color: white;
    text-align:center;
}
td p {
    color: white;
    text-align: center;
    margin-top: -7px;
    padding-top: 17px;
    background: #574e82;
    height: 60px;
    border-radius: 0px 0px 14px 14px;
    

}
td img {
    width: 100%;
    overflow:clip;
    border-radius: 8px;
    height: 100%;
}
navbar-nav nav-item:hover {
    border-bottom: 3px solid red;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
}
#register {
    border-bottom: double;
    border-color: aqua;
    margin-right: 10px;
    margin: 0px 10px;
}
#login {
    border-bottom: double;
    border-color: aqua;
    margin: 0px 10px;
}
form-container {
    padding: 20px;
    justify-items: center;
    display:grid;
}
form-row {
    display: table-row-group;
    justify-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 200px;

}
select {
    width: 205px;
    text-align: left;
}
label, input {
    display: inline-flex;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
}
label {
    color: white;
}
#products-bg {
    background: #3C424B;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 99.1vw;
    z-index: 1;
    position: absolute;
    padding-top: 25px;
    margin-left: -12px;
}
#search-container {
    padding-top: 20px;
    justify-items: center;
    display: grid;
    
}

#bg-container {
    border-bottom: solid red 40px;
}

#index-bg-image {
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 99vw;
    height: 60vh;
    background: url('https://live.staticflickr.com/8430/7836576216_d10d29808c_b.jpg');
    background-size: cover;
    z-index: 0;
    background-position-y: -120px;
    -webkit-filter: blur(1px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    transform: scale(1.5);
    background-repeat:space;
    display: inline-block;
}

#image-background {
    
    position:absolute;
}
#search-form {
    margin-bottom: 40px;
    margin-top: 0px;
    background: #2e2a42;
    border-radius: 20px;
    padding: 20px;
    width: 420px;
    display: inline-block;
    text-align: left;
    z-index: 1;
}
#search-button {
    width: 380px;
    text-align: center;
    color: white;
    background: #3c3659;
}
