/*#region Index*/
html {
  font-size: 14px;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
}
#products-container table {
    background-color: #3c3659;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 99%;
    position:relative;
    display:block;
    border:solid grey 2px;
}
#products-container table tr td {
    height: 200px;
    padding: 0.7vw;
    width: 25vw;
    max-height: 300px;
    max-width: 25%;
    height: 16vw;
}
#products-container table tr {
    border-radius: 50px;
    margin: 5px;
}
h3 {
    color: white;
    text-align:center;
}
#products-container table tr td p {
    color: white;
    text-align: center;
    margin-top: -7px;
    padding-top: 17px;
    background: #574e82;
    height: 60px;
    border-radius: 0px 0px 14px 14px;
    border: solid 2px;
}
#products-container table tr td img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    border: solid 2px white;
    object-fit: cover;
}
navbar-nav nav-item:hover {
    border-bottom: 3px solid red;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
}
#register {
    border-bottom: double;
    border-color: #3C424B;
    margin-right: 10px;
    margin: 0px 10px;
}
#login {
    border-bottom: double;
    border-color: #3C424B;
    margin: 0px 10px;
}
div > select {
    width: 205px;
    text-align: left;
}
label, input {
    display: inline-flex;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
}
label {
    color: white;
}
#products-bg {
    background: #3C424B;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 100.8vw;
    z-index: auto;
    position: relative;
    padding-top: 8px;
    margin-left: -1.5vw;

    margin-right: auto;
    min-height: 50vh;
    border-top: solid grey 2px;
    height: auto;
}
#search-container {
    padding-top: 10px;
    justify-items: center;
    display: grid;
    
}

#bg-container {
    border-bottom: solid red 40px;
}

#index-bg-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 60vh;
    background: url('https://live.staticflickr.com/8430/7836576216_d10d29808c_b.jpg');
    background-size: cover;

    z-index: 0;
    background-position-y: -120px;
    -webkit-filter: blur(1px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    transform: scale(1.5);
    background-repeat: space;
    display: inline-block;
}
#search-form {
    margin-bottom: 40px;
    margin-top: 0px;
    background: #2e2a42;
    border-radius: 20px;
    padding: 20px;
    width: 420px;
    display: inline-block;
    text-align: left;
    z-index: 1;
}
#search-button {
    width: 380px;
    text-align: center;
    color: white;
    background: #3c3659;
}
#categories-container {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    height: 5vw;
    border-spacing: 1.2vw;
    max-height: 200px;
    width: 90vw;
    overflow:visible;
}
#categories-container a {
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    
    border: solid white 2px;
    padding: 2px 5px 2px 5px;
    color: white;
    border-radius: 20px 10px 20px 10px;
    width: 10vw;
    background-color: #68688b;
    text-decoration: none;
    height: 5.5vw;
    overflow:hidden;
}
#categories-container a h5 {
    font-size: 0.8vw;
}
#categories-container a:hover {
    background-color: #9999b2;
    text-decoration: underline;
    cursor:pointer;
}

#categories-container a img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    margin: -2px;
    z-index: 1;
    vertical-align:middle;
    display: inline-block;
}
#paging-container {
    display: flex;
    position: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    align-content: center;
}
    #paging-container button {
        color: black;
        margin-left: auto;
        margin-right: auto;
        display: table-cell;
        background: #9999b2;
        padding: 5px;
        width: 8vw;
    }



/*#endregion*/
/*region Popup-form*/
#details-container {
    position: fixed;
    background-color: #3c3659;
    width: 33vw;
    margin: auto;
    height: 20vw;
    top: 0;
    right: 0;
    bottom: 10vh;
    left: 0;
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid black 5px;
}
.popup-container {
    margin:auto;
}

#popup-image {
    
}
    #popup-image img {
        position: absolute;
        width: 30vw;
        z-index: 100;
        height: 17vw;
        overflow: hidden;
        top: 1.3vw;
        right: 0;
        bottom: 0;
        left: 1.17vw;
        border: solid #9999b2 3px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
#popup-image #car-image {
    width: 30vw;

}
#details-box {
    position: absolute;
    background: #2e2a42;
    display: grid;
    align-content: center;
    width: 15vw;
    top: 0vw;
    left: 33.4vw;
    height: fit-content;
    max-height: 40vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid black;
}
#details-box row {
    display: inline-block;
}
#details-box table {
    width: 13vw;
    table-layout:auto;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
}
#popup-table th {
    margin: auto;
    width: 0.5vw;
    
}
#details-box table tr {
    display: table-row;
    width: 15vw;
    height: 20px;
    height: min-content;
    border-bottom: solid white 1px;
}
#details-box table tr td { 
    margin: auto;
    height: fit-content;
    width: 0.5vw;
    
}
    #details-box table tr th p {
        display: inline-table;
        padding-left: 20px;
        margin: 0px;
        font-size: 1vw;
        font-weight: 200;
        color: white;
        font-weight: 450;
    }
    #details-box table tr td p {
        display: inline-table;
        padding-left: 20px;
        margin: 0px;
        font-size: 1vw;
        color: white;
        font-weight: 200;
    }

#close-button {
    position: absolute;
    right: -15vw;
    top: -1vw;
    z-index: 100;
    font-weight: bold;
    font-size: 2.5vw;
    color: white;
}
#close-button:hover {
        color: red;
        cursor: pointer;
}
#salePrice-details::before{
    content:"$";
}
/*#endregion*/
/*#region Management-form*/
#management-form-container {
    height: auto;
    position: relative;
    align-content: center;
    background: #2e2a42;
}
#manage-title {
    margin-top: 2vw;
    margin-bottom: 2vw;
}
#management-form {
    display: inline-block;
    width: 35vw;
    margin-left: 3vw;
    max-height: 74vh;
    height:fit-content;
    min-height: 16vh;
    background: grey;
    margin-bottom: 2vw;
    border-radius: 10px;
    border: double black 5px;
}
#management-form h3 {
    font-size: 1.5vw;
}
#management-title {
    height: auto;
    text-align:center;
}

#id-row, #brand-row, #model-row, #year-row, #salePrice-row, #sale-row, #engineSize-row, #img-row, #category-row {
    margin: auto;
    display: inline-table;
    max-width: 19vw;
    min-width: 0vw;

   
}
.management-col .form-row {
    margin: auto;
    display: inline-block;
    width: 20vw;
}
#img-row#img-management{
    width: 25vw;
}
.management-col {
    position: relative;
    display: grid;
}
#management-bg-container {
    height: 100vh;
    z-index: -1;
    display: block;
    margin-bottom: 10px;
}
#products-management-container {
    display: block;

}
.form-management-control {
    display: block;
    width: 100%;
    margin: auto;
}
#category-management-select, #sale-management-select {
    display: inline-block;
    width: 100%;
    margin: auto;
    height: 28px;
}
#sale-row {
    width: 204px;
    
}
.input-button-container {
    width: 40vw;
    display: inline-block;
}
.input-btn {
    width: 7vw;
    display: inline-block;
    grid-auto-columns:auto;
    overflow:auto;
    background-color: #3c3659;
    color: white;
    margin: 0.2vw;
    margin-bottom: 1vw;
    font-size: 1vw;
}
.input-btn:hover {
    background-color: #9999b2;
}
#input-button-container {
    margin-left: 0vw;
    padding-top: 0.3vw;
}
#products-bg-container {
    background: #3C424B;
    height: fit-content;
    margin-left: -13px;
    width: 100vw;
    padding: 1.5vw;
    max-height: 1000vh;
    overflow:hidden;
}
#management-details-container {
    display: flex;
    background: #7c7c7c;
    border-radius: 15px;
    margin-bottom: 2vw;
    margin-right: 5vw;
    margin-left: 2vw;
    min-height: 18vh;
    height: auto;
    max-height: 27vw;
    border: double black 5px;
}
    #management-details-container table {
        display: grid;
        position: relative;
        padding-top: 2.1vw;
        padding-bottom: 2.1vw;
        min-height: 18vh;
        max-height: 27vw;
        margin-left: 1vw;
        margin: auto;
    }

#management-details-container table tr {
    margin-top: 1vw;
    height: 2.5vw;
    border-top: double white 1.5px;
    width: 100%;
}
    #management-details-container table tr th {
        padding-right: 3vw;
        color: black;
        font-weight: 600;
        font-size: 1.1vw;
        padding-left: 0.5vw
    }
    #management-details-container table tr td {
        color: black;
        font-size: 1.1vw;
        font-weight: 300;
        padding-right: 2vw;
    }
    #management-details-container table tr td p {
        margin: 0px;
    }
        #management-details-container table tr th p {
            margin: 0px;
        }
#image-details-cell {
    position:page;
    margin: auto;
}
#image-details-cell #car-image {
    position: relative;
    background: #2e2a42;

    width: 30vw;
    max-width: 30vw;
    padding: 15px;
    border: solid black 1px;
    border-radius: 5px;
    max-height: 20vw
}
#management-search-container {
    display: flex;
    justify-content:center;
    gap: 2vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    
}
#searchTerm {
    width: 40vw;
    border-radius: 8px;
}
#management-search-button {
    width: 8vw;
    height: 3.1vh;
    font-size: 1rem;
    border-radius: 8px;
}
#index-title {
    z-index: 10;
    text-decoration: underline;
    text-underline-position:under;
    margin-bottom: 18px;
}
/*#endregion*/

