@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body onload="loadPage();">

<div class="container">
    <h3>Find your perfect whip.</h3>
    <form id="search-form">
        <div class="form-container">
            <div class="form-row">
                <label for="brand"><h4>Brand:</h4></label>
                <input type="text" id="brand" name="brand"><br />
            </div>
            <div class="form-row">
                <label for="model"><h4>Model:</h4></label>
                <input type="text" id="model" name="model"><br />
            </div>
                <div class="form-row">
                <label for="year"><h4>Year:</h4></label>
                <input type="text" id="year" name="year"><br />
            </div>
                <div class="form-row">
                <label for="engineSize"><h4>Engine Size:</h4></label>
                <input type="text" id="engineSize" name="engineSize"><br />
            </div>
            <div class="form-row">
                <input type="submit" value="Search" onclick="filterProducts();">
            </div>
        </div>
    </form>
    <div class="search-box" style="height:400px;">
        
    </div>
    </div>

<div class="container-fluid" id="products-container"></div>
   

</div>
</body>




